body{
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

.logo{
  height: 40px;
  margin-top: 20px;
}

.banner{
  background-color: white;
  height: 152px;
  width: 1150px;
  margin: 0 auto;
}

.ad{
  text-align: center;
  background: -moz-linear-gradient(left, #F2F2F2 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(left, #f2f2f2 0%, #e5e5e5 100%);
  background: linear-gradient(to right, #f2f2f2 0%, #e5e5e5 100%);
  height: auto;
  vertical-align: middle;
  max-width: 100% !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.uppernavtext{
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #5b5d5b;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.left{
  float: left;
}

.right{
  float: right;
  margin-right: 10px;
}

.text{
  font-family: Arial, Helvetica, sans-serif;
}

.bold{
  font-weight: bold;
}

.login{
  margin-top: 4px;
  color: #787878;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.link:hover{
  cursor: pointer;
}

.myZone{
  margin-top: 4px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

.search{
  width: 300px;
  height: 30px;
  margin-left: 5px;
}

.s11{
  font-size: 11px;
}

.underline{
  text-decoration: underline;
}

.pad5{
  padding-top: 10px;
}

.grid-1{
  float: left;
  display: block;
  padding-right: 1.042%;
  position: relative;
}

.grid-2{
  margin-top: 20px;
  float: left;
  display: block;
  position: relative;
}

.wheelimage{
  height: 450px;
}

.block{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  float: left;
  display: block;
  padding-left: 30px;
  position: relative;
  height: 30px;
  background-color: #f2f2f2;
  width: 8%;
}

.bar{
  background-color: #f2f2f2;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 1150px;
  height: 30px;
  margin: 0 auto;
  display: block;
}

.delivery{
  background-color: #F26100;
  margin: 0 auto;
  height: 58px;
  width: 1150px;
  margin-bottom: 25px;
}

.deliverytext{
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  color: white;
  font-size: 22px;
  font-style: italic;
}

.ship{
  margin-left: 40px;
  padding: 0;
  padding-top: -10px;
  margin-top: -10px;
  height: 50px;
  float: left;
}

.main{
  background-color: white;
  height: 600px;
  width: 1150px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.breadcrumbs{
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.breadcrumb{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.orange{
  color: #f26100;
}

.gray{
  color: gray;
}

.title{
  padding-left: 20px;
}

.image{
  margin-left: 40px;
  border: solid black 2px;
  height: 450px;
  width: 400px;
  float: left;
  position: relative;
  display: block;
  align-content: center;
}

.padleft{
  padding-left:10px;
}

.addvehicle{
  /* float: auto; */
  padding-left:10px;
  /* margin-left: 500px; */
  /* position: relative; */
  display: block;
  padding-bottom: 10px;
}

.part{
  float: auto;
  margin-top: 5px;
  clear: left, auto;
  display: block;
  margin-left: 445px;
  font-size: 14px;
}

.light{
  font-weight: normal;
}

.star{
  border: solid black 2px;
  height: 258px;
  width: 400px;
  margin-left:455px;
  margin-top: 10px;
}

.checkout{
  border: solid black 2px;
  height: 332px;
  width: 250px;
  float: right;
  margin-right: 30px;
}

.checkoutarea{
  float: right;
}

.related{
  background-color: white;
  height: 227px;
  width: 1150px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

#tabs{
  background-color: white;
  height: 800px;
  width: 1150px;
  margin-bottom: 200px;
  margin: 0 auto;
  position: relative;
}

.details{
  padding-left: 50px;
  font-size: 14px;
}

#core{
  background-color: white;
  height: 227px;
  width: 1150px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.corebox{
  margin: 30px;
  margin-left: 0;
  float: left;
  display: block;
  width: 19%;
  height: 180px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: solid lightgray 1px;
}


.coreboxleft{
  margin: 30px;
  margin-left: 20;
  float: left;
  display: block;
  width: 19%;
  height: 180px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: solid lightgray 1px;
}

.coreboxborderless{
  margin: 30px;
  float: left;
  display: block;
  width: 19%;
  align-content: center;
}

.descriptimage{
  height: 50px;
  width: 50px;
  border: solid black 1px;
}

.labeltext{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.descripttext{
  font-size: 14px;
  color: gray;
}

.underline{
  text-decoration: underline;
}

.height50{
  height: 50px;
}

#bottom{
  width: 1150px;
  margin: 0 auto;
  position: relative;
}

.bottomimage{
  width: 100%;
}